
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	background: rgba(63, 63, 63, 0.6);
	background: url("../fonts/fon2.jpg") fixed no-repeat;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
	/*border: 1px solid black;*/

	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	padding: 40px 0 0 0;

}
.main{
	/*border: 1px solid black;*/

	line-height: 1.5;
	font-size: 24px;
	font-weight: 500;
	padding: 20px 200px 40px 200px;
	text-align: center;
}
.image{
	border: 10px solid white;
	box-shadow: 5px 5px 15px black;
	height: 400px;
	width: 540px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.other{
	/*border: 1px solid black;*/

	line-height: 1.5;
	font-size: 16px;
	font-weight: 500;
	padding: 20px 200px 40px 200px;
	text-align: left;
}
.list{
	/*border: 1px solid black;*/

	line-height: 1.5;
	font-size: 18px;
	font-weight: 500;
	padding: 20px 200px 40px 200px;
	text-align: left;
}
.list li{
	background: url("../images/mark.png") left no-repeat;
	padding: 0 0 0 30px;
}
.li1{
	font-weight: 550;
}
.li2{
	color: rgb(3, 143, 10);
	font-style: italic;
}
.li3{
	font-weight: 900;
}
.li4{
	text-decoration: line-through;
}
.button{
	/*border: 1px solid black;*/

	padding: 20px 200px 40px 200px;
}
.button button{
	color: white;
	background: rgba(5, 131, 79, 0.4);
	font-size: 18px;
	border-radius: 18px;
	width: 200px;
	height: 36px;

}
